html {
    scroll-behavior: smooth;
  }

h2 {
    color: #353a54;
}

body {
    background-color: #bdcbe3;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #353a54;
}

#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #7b90b6;
    position: fixed;
    top: 0;
    width: 100%;
}

.links {
    top: -250px;
}

li {
    padding: 1% 1%;
    float: right;
}

li a {
    display: inline;
    text-decoration: none;
    color: #EAF3E4;
}

li a:hover {
    color: rgb(76, 79, 113);
}

#openingLine {
    font-size: 45px;
    margin-top: 16%;
    margin-left: 15%;
}

#introLine {
    margin-left: 15%;
    font-size: 65px;
    color: #4f5ea7;
}

#descriptionLine {
    margin-left: 15%;
    font-size: 30px;
    margin-bottom: 20%;
}

#aboutSection {
    background-color: #333d6f;
    width: 50%;
    align-self: center;
    text-align: center;
    line-height: 1.7;
    margin: auto;
    margin-bottom: 20%;
    padding: 5%;
    border-radius: 20px;
    color: #bdcbe3;
}

#aboutMe {
    margin: auto; 
    font-size: 45px;
    color: #bdcbe3;
}

#projectsSection {
    margin-bottom: 20%;
}

#projects {
    text-align: center;
    font-size: 45px;
}

/* attempt 2 of overlay thing */

#projectsContainer {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    position: relative;
    margin: 10px;
}

img {
    position: relative;
    z-index: -1;
    height: 200px;
    width: 350px;
    display: block;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: 1;
}

.projectDescription {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1.5;
}

#contactSection {
    margin-bottom: 5%;
}

#contact {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 45px;
}

#contactLinksContainer {
    text-align: center;
}

#contactLinksContainer a {
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    color: #333d6f;
}

#contactLinksContainer a:hover {
    color: rgb(120, 123, 167);
}

.contact {
    padding: 1%;
    display: inline;
}

#githubTag {
    margin-top: 5%;
    text-align: center;
}

@media (max-width: 480px) {
    body {
        margin-right: 3%;
    }
    li {
        padding: 4% 4%;
    }
    #openingLine {
        margin-top: 40%;
        font-size: 25px;
    }
    #introLine {
        font-size: 40px;
    }
    #descriptionLine {
        font-size: 25px;
    }
    #aboutMe {
        font-size: 25px;
    }
    #aboutSection {
        font-size: 16px;
        width: 70%;
    }
    .contact {
        display: block;
    }
}
